<!DOCTYPE html>
<html>
    <head>
        <title>Test page for displaying family tree</title>
        <style>
            body {
                padding: 1em
            }

            #familytree {
                position: relative;
                min-width: {{ layout.width }}px;
                min-height: {{ layout.height }}px;
                border: 1px solid black;
                margin: -1px -1px 0 0;
            }

            svg#graph {
                position: absolute;
                left: 0px;
                top: 0px;
                width: {{ layout.width }}px;
                height: {{ layout.height }}px;
                border: 1px solid gray;
                margin: -1px -1px 0 0;
            }

            #boxes .box {
                position: absolute;
                border: 1px solid violet;
                margin: -1px -1px 0 0;
            }

            tr:target {
                background-color: blanchedalmond;
            }
        </style>
    </head>

    <body>
        <h1>Family tree test page</h1>

        <div id="familytree">
            <svg
                id="graph"
                viewBox="0 0 {{ layout.width }} {{ layout.height }}"
                xmlns="http://www.w3.org/2000/svg"
                stroke="black"
                fill="#ffeedd"
            ></svg>
            <div id="boxes">
                {% for id, individual in individuals.items() if id in layout %}
                <div
                    class="box"
                    style="left: {{ layout[id].pos.x }}px; top: {{
                        layout[id].pos.y
                    }}px;"
                >
                    {{ individual.name }}
                </div>
                {% endfor %}
            </div>
        </div>

        <hr />

        <table>
            <caption>
                Individuals
            </caption>
            <thead>
                <tr>
                    <th>Individual ID</th>
                    <th>Level, Group</th>
                    <th>Name</th>
                    <th>Sex</th>
                    <th>Parent's family IDs</th>
                    <th>Own/Spouse family IDs</th>
                </tr>
            </thead>
            <tbody>
                {% for id, individual in individuals.items() %}
                <tr id="{{ id }}">
                    <td>
                        <code
                            ><a href="#{{ id }}">{{ id }}</a></code
                        >
                    </td>
                    <td>
                        <code
                            >{{ layout[id].level if id in layout else "-" }}</code
                        >,
                        <code
                            >{{ layout[id].group if id in layout else "-"}}</code
                        >
                    </td>
                    <td>{{ individual.name }}</td>
                    <td>{{ individual.sex.name }}</td>
                    <td>
                        {% for family_id in individuals_parent_families[id] %}
                        <a href="#{{ family_id }}"
                            ><code>{{ family_id }}</code></a
                        >{{ "," if not loop.last }}
                        {% endfor %}
                    </td>
                    <td>
                        {% for family_id in individuals_own_families[id] %}
                        <a href="#{{ family_id }}"
                            ><code>{{ family_id }}</code></a
                        >{{ "," if not loop.last }}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <table>
            <caption>
                Families
            </caption>
            <thead>
                <tr>
                    <td>Family ID</td>
                    <td>Spouses</td>
                    <td>Children</td>
                </tr>
            </thead>
            <tbody>
                {% for id, family in families.items() %}
                <tr id="{{ id }}">
                    <td>
                        <a href="#{{ id }}"
                            ><code>{{ id }}</code></a
                        >
                    </td>
                    <td>
                        {% for individual_id in family_spouses[id] if
                        individual_id in individuals %}
                        <a href="#{{ individual_id }}">{{
                            individuals[individual_id].name
                        }}</a
                        >{{ "," if not loop.last }}
                        {% endfor %}
                    </td>
                    <td>
                        {% for individual_id in family_children[id] if
                        individual_id in individuals %}
                        <a href="#{{ individual_id }}">{{
                            individuals[individual_id].name
                        }}</a
                        >{{ "," if not loop.last }}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
