<!doctype html>
<html>

<head>
    <title>Test page for displaying family tree</title>
    <style>
        body {
            padding: 1em
        }

        #familytree {
            position: relative;
            min-width: {{ graphic_size[0] }}px;
            min-height: {{ graphic_size[1] }}px;
            border: 1px solid black;
            margin: -1px -1px 0 0;
        }

        svg#graph {
            position: absolute;
            left: 0px;
            top: 0px;
            width: {{ graphic_size[0] }}px;
            height: {{ graphic_size[1] }}px;
            border: 1px solid gray;
            margin: -1px -1px 0 0;
        }

        #boxes .box {
            position: absolute;
            border: 1px solid violet;
            margin: -1px -1px 0 0;
        }
    </style>
</head>

<body>

    <h1>Family tree test page</h1>

    <div id="familytree">
        <svg id="graph" viewBox="0 0 {{ graphic_size[0] }} {{ graphic_size[1] }}" xmlns="http://www.w3.org/2000/svg"
            stroke="black" fill="#ffeedd">
        </svg>
        <div id="boxes">
            {% for id, individual in individuals.items() %}
            <div class="box"
                style="left: {{ individual_positions[id][0] }}px; top: {{ individual_positions[id][1] }}px;">{{
                individual.name
            }}</div>
            {% endfor %}
        </div>
    </div>

    <ul>
        {% for id, individual in individuals.items() %}
        <li><code>{{ id }}</code> {{ individual.name }}
            <br />
            Parent families:
            <br />
            <ul>
                {% for family_id in individuals_parent_families[id] %}
                <li><code>{{ family_id }}</code></li>
                {% endfor %}
            </ul>
            Own families:
            <br />
            <ul>
                {% for family_id in individuals_own_families[id] %}
                <li><code>{{ family_id }}</code></li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>

    <ul>
        {% for id, family in families.items() %}
        <li><code>{{ id }}</code>
            <br />
            Spouses of family:
            <br />
            <ul>
                {% for individual_id in family_spouses[id] %}
                <li><code>{{ individual_id }}</code></li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>

</body>

</html>