<!DOCTYPE html>
<html>
    <head>
        <title>Test page for displaying family tree</title>
        <style>
            body {
                padding: 1em
            }

            #familytree {
                position: relative;
                min-width: {{ layout.width }}px;
                min-height: {{ layout.height }}px;
                border: 1px solid black;
                margin: -1px -1px 0 0;
            }

            svg#graph {
                position: absolute;
                left: 0px;
                top: 0px;
                width: {{ layout.width }}px;
                height: {{ layout.height }}px;
                border: 1px solid gray;
                margin: -1px -1px 0 0;
            }

            svg#graph g.hovered {
                stroke-width: 8px;
                stroke: turquoise;
            }

            #boxes .box {
                position: absolute;
                border: 1px solid violet;
                background-color: whitesmoke;
                margin: -1px -1px 0 0;
                width: {{ layout.box_size.x }}px;
                height: {{ layout.box_size.y }}px;
            }

            #boxes .box.hovered {
                background-color: aquamarine;
            }

            tr:target {
                background-color: blanchedalmond;
            }
        </style>
        <script type="text/javascript">
            // <![CDATA[

            function get_own_families(element) {
                return element
                    .getAttribute("data-own-families")
                    .split(",")
                    .filter((s) => s !== "");
            }

            function get_parent_families(element) {
                return element
                    .getAttribute("data-parent-families")
                    .split(",")
                    .filter((s) => s !== "");
            }

            window.addEventListener("load", (event) => {
                for (let box of document.querySelectorAll("#boxes .box")) {
                    box.addEventListener("mouseover", (event) => {
                        event.target.classList.add("hovered");
                        for (let family of get_own_families(event.target)) {
                            document
                                .getElementById("g" + family)
                                .classList.add("hovered");
                        }
                        for (let family of get_parent_families(event.target)) {
                            document
                                .getElementById("g" + family)
                                .classList.add("hovered");
                        }
                    });
                    box.addEventListener("mouseout", (event) => {
                        event.target.classList.remove("hovered");
                        for (let family of get_own_families(event.target)) {
                            document
                                .getElementById("g" + family)
                                .classList.remove("hovered");
                        }
                        for (let family of get_parent_families(event.target)) {
                            document
                                .getElementById("g" + family)
                                .classList.remove("hovered");
                        }
                    });
                }
            });

            // ]]>
        </script>
    </head>

    <body>
        <div id="familytree">
            <svg
                id="graph"
                viewBox="0 0 {{ layout.width }} {{ layout.height }}"
                xmlns="http://www.w3.org/2000/svg"
                stroke="black"
                fill="#ffeedd"
            >
                {% for fid in families if fid in layout.families %}
                <g id="g{{ fid }}" class="family">
                    <line
                        x1="{{ layout.families[fid].left.x }}"
                        y1="{{ layout.families[fid].left.y }}"
                        x2="{{ layout.families[fid].right.x }}"
                        y2="{{ layout.families[fid].right.y }}"
                    />
                    <g>
                        {% for iid in family_spouses[fid] %}
                        <line
                            x1="{{ layout[iid].bottom.x }}"
                            y1="{{ layout[iid].bottom.y }}"
                            x2="{{ layout[iid].bottom.x }}"
                            y2="{{ layout.families[fid].center.y }}"
                        />
                        {% endfor %}
                    </g>
                    <g>
                        {% for iid in family_children[fid] %}
                        <line
                            x1="{{ layout[iid].top.x }}"
                            y1="{{ layout[iid].top.y }}"
                            x2="{{ layout[iid].top.x }}"
                            y2="{{ layout.families[fid].center.y }}"
                        />
                        {% endfor %}
                    </g>
                </g>
                {% endfor %}
            </svg>
            <div id="boxes">
                {% for id, individual in individuals.items() if id in layout %}
                <div
                    id="b{{ id }}"
                    class="box"
                    style="left: {{ layout[id].pos.x }}px; top: {{
                        layout[id].pos.y
                    }}px;"
                    data-own-families="{{ individuals_own_families[id] | join(',') }}"
                    data-parent-families="{{ individuals_parent_families[id] | join(',') }}"
                >
                    {{ individual.name }}
                </div>
                {% endfor %}
            </div>
        </div>

        <hr />

        <table>
            <caption>
                Individuals
            </caption>
            <thead>
                <tr>
                    <th>Individual ID</th>
                    <th>Level, Group</th>
                    <th>Name</th>
                    <th>Sex</th>
                    <th>Birth</th>
                    <th>Death</th>
                    <th>Parent's family IDs</th>
                    <th>Own/Spouse family IDs</th>
                </tr>
            </thead>
            <tbody>
                {% for id, individual in individuals.items() %}
                <tr id="{{ id }}">
                    <td>
                        <code
                            ><a href="#{{ id }}">{{ id }}</a></code
                        >
                    </td>
                    <td>
                        <code
                            >{{ layout[id].level if id in layout else "-" }}</code
                        >,
                        <code
                            >{{ layout[id].group if id in layout else "-"}}</code
                        >
                    </td>
                    <td>{{ individual.name }}</td>
                    <td>{{ individual.sex.name }}</td>
                    <td>{{ individual.birth }}</td>
                    <td>{{ individual.death }}</td>
                    <td>
                        {% for family_id in individuals_parent_families[id] %}
                        <a href="#{{ family_id }}"
                            ><code>{{ family_id }}</code></a
                        >{{ "," if not loop.last }}
                        {% endfor %}
                    </td>
                    <td>
                        {% for family_id in individuals_own_families[id] %}
                        <a href="#{{ family_id }}"
                            ><code>{{ family_id }}</code></a
                        >{{ "," if not loop.last }}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <table>
            <caption>
                Families
            </caption>
            <thead>
                <tr>
                    <td>Family ID</td>
                    <td>Spouses</td>
                    <td>Children</td>
                </tr>
            </thead>
            <tbody>
                {% for id, family in families.items() %}
                <tr id="{{ id }}">
                    <td>
                        <a href="#{{ id }}"
                            ><code>{{ id }}</code></a
                        >
                    </td>
                    <td>
                        {% for individual_id in family_spouses[id] if
                        individual_id in individuals %}
                        <a href="#{{ individual_id }}">{{
                            individuals[individual_id].name
                        }}</a
                        >{{ "," if not loop.last }}
                        {% endfor %}
                    </td>
                    <td>
                        {% for individual_id in family_children[id] if
                        individual_id in individuals %}
                        <a href="#{{ individual_id }}">{{
                            individuals[individual_id].name
                        }}</a
                        >{{ "," if not loop.last }}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
